@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #242424;
  --color-foreground: #ffffff;

  --color-card: #2e2e2e;
  --color-card-foreground: #ffffff;

  --color-popover: #2e2e2e;
  --color-popover-foreground: #ffffff;

  --color-primary: #ae4c16;
  --color-primary-foreground: #ffffff;

  --color-secondary: #353535;
  --color-secondary-foreground: #d2d5d7;

  --color-muted: #303030;
  --color-muted-foreground: #d2d5d7;

  --color-accent: #3a3a3a;
  --color-accent-foreground: #ffffff;

  --color-border: #3f3f3f;
  --color-input: #3f3f3f;
  --color-ring: #ae4c16;

  --color-destructive: #dc2626;
  --radius: 0.75rem;

  /* --------------------- Their ----------------------- */

  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
